@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        @apply text-6xl font-bold
    }

    h2 {
        @apply text-6xl font-bold 
    }

    h3 {
        @apply text-4xl font-bold 
    }

    a {
        @apply font-bold text-dark text-base
    }
    
    li {
        @apply text-dark text-lg
    }

    p {
        @apply text-lg text-dark
    }
}

@layer components {
    .container {
        @apply md:max-w-[80%] 2xl:max-w-[70%] mx-auto
    }

    .divider {
        @apply w-full border border-gray-300
    }

    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary;
    }

    .button-gradient {
        @apply bg-gradient-to-r from-primary to-secondary text-white py-2 px-5 rounded-md cursor-pointer 
        hover:scale-105 transition-all hover:shadow-lg hover:shadow-indigo-500/70 min-w-[180px]
        active:scale-100
    }

    .navbar {
        @apply block fixed backdrop-blur-md bg-slate-50/80 z-50 w-full bottom-4 md:top-0 max-h-min
        shadow-sm
    }

    .navbar h1 {
        @apply text-2xl font-extrabold
    }

    .navbar__container {
        @apply flex items-center mt-2 py-6 md:py-4  mx-auto max-w-[90%] md:max-w-[75%]  px-10
    }

    .navbar__menu{
        @apply flex items-center gap-6 sm:gap-10 md:gap-4 mx-auto 
    }

    .navbar__menu li a{
        @apply flex flex-col items-center justify-center text-center
    }

    .navbar__menu li a {
        @apply hover:text-gradient hover:drop-shadow-sm
    }

    .navbar__social{
        @apply gap-4 hidden md:flex
    }

    .navbar__social--item{
        @apply bg-slate-100 text-lg cursor-pointer p-2 block rounded-full text-primary
    }

    .section {
        @apply pt-10 md:pt-[6rem] pb-[2rem]
    }

    /* PROJECTS */
    .project__card {
        @apply border-2 rounded-md py-14 px-10 cursor-pointer hover:scale-105 hover:bg-gradient-to-r from-primary to-secondary hover:text-white
        transition-all hover:shadow-xl hover:shadow-indigo-500/70
        active:scale-100
    }
}